<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
    <title>Contato</title>
    </head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/contato">Contato</a>
    <a href="/formacao">Formação</a>
    <a href="/projetos">Portifolio</a>
  </div>
  <p style="text-align: center"><img src="../img/luna.jpg" width="150" height="150" text-align="center" style="border-radius: 60%;margin-left:2px;"></p>
    <h1 style="text-align: center">Contato</h1>
    <p style="text-align: center"><img src="../img/logo-gmail.png" width="30" height="30" text-align="left" style="border-radius: 50%;">E-mail: lunaclark2002@gmail.com</p>
    <p style="text-align: center"><img src="../img/telefone.png" width="30" height="30" text-align="left" style="border-radius: 50%;">Contato: (21) 96744-3188</p>
    <p style="text-align: center"><img src="../img/link.jpg" width="40" height="40" text-align="left" style="border-radius: 50%;"> linkedin :<a href="https://www.linkedin.com/in/luna-maria-465a111b8"> https://www.linkedin.com/in/luna-maria-465a111b8</a></p>
    <p style="text-align: center"><img src="../img/git.png" width="30" height="30" text-align="left" style="border-radius: 50%;"> GitHub :<a href="https://github.com/lunamendess"> lunamendess</a></p>
    
</body>
</html>