<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  </head>
<body>
  <font face="Baskerville Old Face">
<div class="topnav">
  <a href="/">Home</a>
  <a href="/contato">Contato</a>
  <a href="/formacao">Formação</a>
  <a href="/projetos">Portifolio</a>
</div>
    <p style="text-align: center" ><img src="/img/luna.jpg" width="150" height="150" text-align="left" style="border-radius: 50%;"></p>
    <h1 style="text-align: center">Projetos</h1>
    <h2 style="text-align: center" > Plataforma StreamOn </h2>
    <p style="text-align: center">Projeto de uma plataforma de streaming de filmes.</p>

    <div class="box">
    <p style="text-align: center ;"> <img src="/img/index-projeto.jfif" width="400" height="250"  class="imagem-responsiva" alt="Imagem 01"> </p>
    <p style="text-align: center ;">Home</p>
  </div>
  <div class="box">
    <p style="text-align: center ;"> <img src="/img/produtos-projeto.jfif" width="400" height="250"  class="imagem-responsiva" alt="Imagem 02"> </p>
    <p style="text-align: center ;"> Pagina Produtos.</p>
  </div>
  <div class="box">
    <p style="text-align: center ;"> <img src="/img/carrinho.jfif" width="400" height="250"  class="imagem-responsiva" alt="Imagem 03"> </p>
    <p style="text-align: center ;"> Página Carrinho.</p>
  </div>
  <div class="box">
    <p style="text-align: center ;"> <img src="/img/cadastro.jfif" width="400" height="250"  class="imagem-responsiva" alt="Imagem 04"> </p>
    <p style="text-align: center ;"> Cadastro</p>
  </div>
  <h3>Trajetoria</h3>
  <div class="box">
    <p>"Fracassar é parte crucial do sucesso. Toda vez que você fracassa e se recupera, exercita perseverança, que é a chave da vida. Sua força está na habilidade de se recompor", Michelle Obama</p>
    <p> <img src="/img/empoderamento.gif" width="400" height="250"  class="imagem-responsiva" alt="Imagem 05"> </p>
    <p>Projeto Front-End</p>
  </div>
  <p><img src="/img/git.png" width="30" height="30" text-align="left" style="border-radius: 50%;"><a href="https://github.com/lunamendess/projeto-videos">https://github.com/lunamendess/projeto-videos</p>
</font>
    </body>
</html>
</body>
</html>